[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/stb/include/stb"]
	path = external/stb/include/stb
	url = git@github.com:zekailin00/stb-copy.git
[submodule "external/tiny_obj_loader/tiny-obj-loader-submodule"]
	path = external/tiny_obj_loader/tiny-obj-loader-submodule
	url = git@github.com:zekailin00/tiny-obj-loader-submodule.git
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = git@github.com:open-source-parsers/jsoncpp.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "external/OpenXR-SDK"]
	path = external/OpenXR-SDK
	url = git@github.com:KhronosGroup/OpenXR-SDK.git
